@model Asp_Core_Test.Models.Student
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Shows the details of selected student *@
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Student Details</li>
</ol>

<div class="card border-primary">
    <div class="col-md-6 card-body offset-3">
        <div class="form-horizontal">
            <div class="text-center">
                <img src="~/images/mortarboard.png" class="delete-img" />
            </div>
            <h3 class="text-center font-weight-bold text-warning my-2">Student Detail</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">
                    First Name
                </dt>
                <dd class="col-sm-8 text-capitalize">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-4">
                    Last Name
                </dt>
                <dd class="col-sm-8 text-capitalize">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-4">
                    Email
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                @if (Model.Gender == "m")
                {
                    <dt class="col-sm-4">
                        Gender
                    </dt>
                    <dd class="col-sm-8">
                        Male
                    </dd>
                }
                else
                {
                    <dt class="col-sm-4">
                        Gender
                    </dt>
                    <dd class="col-sm-8">
                        Female
                    </dd>
                }
            </dl>
            <a asp-action="Index" class="btn btn-sm btn-warning float-left">Go Back</a>
            <a asp-controller="Student" asp-action="QRCode" asp-route-id="@Model.Id" class="btn btn-sm float-right btn-primary">View Student Card</a>
        </div>
    </div>
</div>
